# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
__pycache__
modules.order
Module.symvers
Mkfile.old
dkms.conf
asm/
build/
config/gt2_us12_simdisk/orig_bin
config/gt2_us12_simdisk/ovl_bin
config/gt2_us12_simdisk/autogen
assets/
*.ld
src/autogen/*
src/lib/*
.vscode/c_cpp_properties.json
build.ninja
.ninja_log
build_progress.txt
.ninja_deps
config/gt2_us12_simdisk/mainexe_symbol_addrs_ghidra.txt.c
.vscode/settings.json
.venv
